@font-face {
    font-family: 'BerlinType';
    src: url('BerlinTypeWeb-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    width: 100vw;
}

header {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#logo {
    max-width: 100%;
    width: 50%;
    height: auto;
}

h1 {
    font-family: 'BerlinType';
    font-size: clamp(1rem, calc(2vw), 3.2rem);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'BerlinType';
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
}

#post-container {
    width: 70%;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-items: center;
}

.post {
    position: relative;
    width: auto;
    height: auto;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post:hover, .post:active {
    transform: scale(1.02);
}

.post a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    border: 2.5px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    height: auto;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}

.post-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    max-width: 90%;
}

.post:hover .image-wrapper img, .post:active .image-wrapper img {
    filter: blur(5px) brightness(80%);
}

.post:hover .post-title, .post:active .post-title {
    opacity: 1;
}

footer {
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin: 40px auto 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.5;
}

.cookie-banner {
    position: fixed;
    display: flex;
    align: centre;
    gap: 10px;
    bottom: 20px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    z-index: 9999;
    max-width: 90%;
}

.cookie-icon {
    width: 24px;
    height: 24px;
}

.cookie-ok-btn {
    background-color: #f5f5f5;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-ok-btn:hover {
    background-color: #dcdcdc;
}

@media (max-width: 828px) {
    header {
        width: 100%;
    }
    
    #logo {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    
    h1 {
        font-size: clamp(1rem, calc(3vw), 6rem);
    }
}

@media  (min-width: 2560px) {

    #post-container {
        grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
        gap: 40px;
    }

    .post-title {
        padding: 20px 40px;
        font-size: 36px;
    }

    footer {
        max-width: 1600px;
    }
        
    .cookie-icon {
        width: 48px;
        height: 48px;
    }

    .cookie-banner {
        gap: 20px;
        border-radius: 16px;
        padding: 20px 30px;
    }
        
    .cookie-ok-btn {
        padding: 10px 20px;
        border-radius: 10px;
    }
        
    p, .cookie-message, .cookie-ok-btn {
        font-size: 2rem;
    }
}

.padlet-embed {
    width: 90vw;
    max-width: 740px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background: #F4F4F4;
}

.padlet-embed iframe {
    width: 100%;
    height: 608px;
    display: block;
    border: none;
    border-radius: 12px;
}

.wordpress-embed {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background: #F4F4F4;
}

/* Made by Reef, BA Modern History and German 2019 - 2025 */
